body {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E6F7FF; /* Light blue background color */
    color: #333;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ADD8E6; /* Light blue */
    color: #0f0f0f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none; /* Removes underline from the link */
    color: inherit; /* Inherit color from parent to remove default link color */
}

.logo i {
    margin-right: 10px; /* Increase space between icon and text */
    font-size: 40px; /* Increase the icon size */
}

.logo span {
    font-size: 20px; /* Decrease the font size of the text */
    font-weight: bold; /* Optional: make the text bold */
}

.logo:hover i {
    color: #9A6AFC; /* Optional: change icon color on hover */
}

.logo:hover span {
    color: #9A6AFC; /* Optional: change text color on hover */
}




nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #0f0f0f;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.login-button {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #0f0f0f;
    font-size: 18px;
}

.user-icon {
    width: 50px; /* Larger size */
    height: 50px; /* Larger size */
    background-color: #eff4f6; /* Baby blue color */
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow */
}

.user-icon::before {
    content: '';
    width: 60%;
    height: 60%;
    background-color: #121111; /* White color */
    border-radius: 50%;
    position: absolute;
    top: 10%;
}

.user-icon::after {
    content: '';
    width: 80%;
    height: 40%;
    background-color: #050505; /* White color */
    border-radius: 0 0 50% 50%;
    position: absolute;
    bottom: 10%;
}
